In [1]:
import pandas as pd

# Customer data
customers = pd.DataFrame({
    "customer_id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"]
})

# Transactions data
transactions = pd.DataFrame({
    "transaction_id": [100, 101, 102, 103],
    "customer_id": [1, 2, 2, 4],
    "amount": [50, 75, 20, 100]
})

In [2]:
merged = pd.merge(customers, transactions, on="customer_id", how="inner")
print(merged)

   customer_id   name  transaction_id  amount
0            1  Alice             100      50
1            2    Bob             101      75
2            2    Bob             102      20

In [3]:
pd.merge(customers, transactions, on="customer_id", how="left")   # keep all customers
pd.merge(customers, transactions, on="customer_id", how="right")  # keep all transactions
pd.merge(customers, transactions, on="customer_id", how="outer")  # keep all from both

   customer_id     name  transaction_id  amount
0            1    Alice           100.0    50.0
1            2      Bob           101.0    75.0
2            2      Bob           102.0    20.0
3            3  Charlie             NaN     NaN
4            4      NaN           103.0   100.0

In [4]:
# set index to customer_id for both
customers_indexed = customers.set_index("customer_id")
transactions_indexed = transactions.set_index("customer_id")

joined = customers_indexed.join(transactions_indexed, how="inner")
print(joined)

              name  transaction_id  amount
customer_id
1            Alice             100      50
2              Bob             101      75
2              Bob             102      20